$bg-color: #F3EEFC;
$text-color: #110722;
$title-color: #2B1056;
$icon-color: #FEF8EC;

$pos-bg-color: #2B1056;
$inventory-bg-color: #D81E5B;
$employee-bg-color: #E43A72;
$crm-bg-color: #C51B54;
$discount-bg-color: #E95D8C;
$payment-bg-color: #90143D;
$report-bg-color: #F0544F;
$billing-bg-color: #ED3731;
$system-bg-color: #035E7B;
$setting-bg-color: #023C50;

$bg-list-color: #110722;
$bg-list-hover-color: #2B1056;
$text-list-color: #FEF8EC;

/*$breakpoints: ( 
    xs: 0, 
    sm: 576px, 
    md: 768px, 
    lg: 992px, 
    xl: 1200px, 
    xxl: 1400px );*/