/*Light Theme*/
$primary-bg-color-light: #F3EEFC;
$secondary-bg-color-light: #2B1056;
$third-bg-color-light: #FFFFFF;

$primary-text-color-light: #FEF8EC;
$secondary-text-color-light: #2B1056;

$search-input-color-light: #f3eefc;
$search-icon-color-light: #e6dcf9;

$success-button-color-light: #035E7B;
$sucess-icon-color-light: #034B63;

$warning-button-color-light: #E11A14;

$primary-navtext-color-light: #FEF8EC;
$secondary-navtext-color-light: #2B1056; /*when horver*/

$primary-title-color-light: #2B1056;

$primary-tabletext-color-light: #110722;
$primary-tablerow-color-light: #FDFAFA;
$secondary-tablerow-color-light: #F5F5F5;

$border-radius:10px;

$primary-button-padding:15px; /*Create Button*/
$secondary-button-padding: 10px 15px; /*Buttons in Table*/