@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="menu_top">
    <div class="datetime_container">
        <div class="time_container">
            <h1 class="time_txt"></h1>
        </div>
        <div class="date_container">
            <h4 class="date_txt"></h4>
        </div>
    </div>
    <div class="logo_container">
        <img src="~/img/logo.png" />
    </div>
    <div class="user_container">
        <h5 class="user_txt">Admin</h5>
        <div class="user_button">
            <svg class="user_icon">
                <use xlink:href="/img/menu_icon.svg#user"></use>
            </svg>
            <div class="user_menu">
                <div class="user_item">
                    <svg class="item_icon">
                        <use xlink:href="/img/menu_icon.svg#user-check"></use>
                    </svg>
                    <span class="item_text">Profile</span>
                </div>
                <div class="user_item">
                    <svg class="item_icon">
                        <use xlink:href="/img/menu_icon.svg#log-out"></use>
                    </svg>
                    <span class="item_text">Logout</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu_main">
    <div class="card_container">
        <div class="pos_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#shopping-cart"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">POS</h4>
    </div>

    <div class="card_container">
        <div class="inventory_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#box"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Inventory</h4>
    </div>


    <div class="card_container">
        <div class="employee_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#user"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Employee</h4>
    </div>


    <div class="card_container">
        <div class="crm_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#users"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">CRM</h4>
    </div>


    <div class="card_container">
        <div class="discount_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#tag"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Discount</h4>
    </div>


    <div class="card_container">
        <div class="payment_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#credit-card"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Payment</h4>
    </div>


    <div class="card_container">
        <div class="report_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#pie-chart"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Report</h4>
    </div>


    <div class="card_container">
        <div class="billing_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#file-text"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Billing</h4>
    </div>


    <div class="card_container">
        <div class="system_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#cpu"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">System</h4>
    </div>


    <div class="card_container">
        <div class="setting_card">
            <a href="#">
                <div class="card_icon">
                    <svg class="icon">
                        <use xlink:href="/img/menu_icon.svg#settings"></use>
                    </svg>
                </div>
            </a>
        </div>
        <h4 class="card_txt">Setting</h4>
    </div>

</div>

